
.user-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #343a40;
}


.user-email {
    font-size: 0.9rem;
    color: #6c757d;
}


.comment-label {
    font-size: 0.9rem;
    font-weight: 500;
    margin-left: 0.5rem;
    color: #007bff;
}
