{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>Register</h2>
<form method="post">
    {% csrf_token %}
    {{ form.email.label_tag }}
    {{ form.email }}
    {{ form.password1.label_tag }}
    {{ form.password1 }}
    {{ form.password2.label_tag }}
    {{ form.password2 }}
    {{ form.more_info.label_tag }}
    {{ form.more_info }}
    <div id="more-info-fields">
        {{ form.first_name.label_tag }}
        {{ form.first_name }}
        {{ form.last_name.label_tag }}
        {{ form.last_name }}
        {{ form.date_of_birth.label_tag }}
        {{ form.date_of_birth }}
        {{ form.phone_number.label_tag }}
        {{ form.phone_number }}
    </div>
    <button type="submit">Register</button>
</form>
    <script src="{% static 'js/form-toggles.js' %}"></script>
{% endblock %}
